#padrao{
	background-color: lightcyan;
	text-align: center;
}

#fontepadrao{
	font-family: "Arial";
	font-size: 18px;
	color: black;
	text-align: justify;
}

#fontedestaque{
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
	color: red;
	text-align: justify;
}
